<!--User Profile Starts-->
<!--Basic User Details Starts-->
<section id="user-profile">
    <div class="row">
        <div class="col-12">
            <div class="card profile-with-cover">
              <div class="card-img-top img-fluid bg-cover height-300"
                   style="background: url('../../../assets/img/photos/14.jpg') 50%;"></div>
              <div class="text-left user-name">
                  <h3 class="card-title white">{{(authService.currentUser | async)?.firstname}}</h3>
              </div>
              <div class="cover-fixed-buttons">
                <div class="text-right d-lg-block">
                  <button *ngIf="!edit" (click)="startEdit()" type="button" class="btn btn-primary btn-raise"><i class="ft-edit-2"></i>ערוך</button>
                  <button *ngIf="edit" (click)="save()" type="button" class="btn btn-success btn-raised"><i class="ft-save"></i>שמור</button>
                  <button *ngIf="edit" (click)="edit = !edit; imageSrc = null" type="button" class="btn btn-danger btn-raised"><i class="ft-delete"></i>בטל</button>
                </div>
              </div>

                <a class="profile-image">
                  <input type="file" (change)="selectFile($event)" #avatar class="d-none" >
                  <img [src]="imageSrc || (authService.currentUser | async)?.avatar"
                       (click)="edit ? avatar.click() : null"
                       class="rounded-circle img-border gradient-summer width-100 height-100" alt="Card image">
                </a>
                <div class="profile-section">
                  <ul class="profile-menu no-list-style">
                    <li class="col-3">
                      <div [ngClass]="currentPage === 'About' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'">
                        <a (click)="showPage('About')" >פרטים אישיים</a>
                      </div>
                    </li>
                    <li class="col-3">
                      <div [ngClass]="currentPage === 'MyLogos' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'">
                        <a (click)="showPage('MyLogos')" >הלוגואים שלי</a>
                      </div>
                    </li>
                    <li class="col-3">
                      <div [ngClass]="currentPage === 'CreateLogo' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'">
                        <a (click)="showPage('CreateLogo')" >יצירת  לוגו</a>
                      </div>
                    </li>
                    <li class="col-3">
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic User Details Ends-->

<!--About section starts-->
<section id="about" *ngIf="currentPage === 'About'">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <form [formGroup]="form" fxLayout="column">
                      <div class="mb-2">
                        <span class="text-bold-500 primary h5">פרטים אישיים:</span>
                      </div>
                      <div class="row">

                          <div class="col-6">
                              <ul class="no-list-style">
                                  <li class="mb-2">
                                    <span class="text-bold-500 primary"><a><i class="ft-user font-small-3"></i> גבר/אישה:</a></span>
                                    <span *ngIf="!edit" class="d-block overflow-hidden">גבר</span>
                                    <div *ngIf="edit">
                                      <mat-radio-group aria-label="Select an option" formControlName="gender">
                                        <mat-radio-button [value]="0">גבר</mat-radio-button><br>
                                        <mat-radio-button [value]="1">אישה</mat-radio-button>
                                      </mat-radio-group>
                                    </div>
                                  </li>
                                  <li class="mb-2">
                                    <span class="text-bold-500 primary"><a><i class="ft-smartphone font-small-3"></i> מספר טלפון:</a></span>
                                    <span class="d-block overflow-hidden">{{(authService.currentUser | async)?.phone}}</span>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-6">
                              <ul class="no-list-style">
                                  <li class="mb-2" *ngIf="edit">
                                    <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> שם מלא:</a></span>
                                    <div>
                                      <input type="text" formControlName="name" />
                                    </div>
                                  </li>
                                  <li class="mb-2">
                                    <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> כתובת דוא"ל:</a></span>
                                    <span *ngIf="!edit" class="d-block overflow-hidden">{{(authService.currentUser | async)?.email == '' ? 'לא הוגדר' : (authService.currentUser | async)?.email}}</span>
                                    <div *ngIf="edit">
                                      <input type="text" formControlName="email" />
                                    </div>
                                  </li>
                                  <li class="mb-2">
                                    <span class="text-bold-500 primary"><a><i class="ft-book font-small-3"></i> תאריך הצטרפות:</a></span>
                                    <span class="d-block overflow-hidden">10/01/2020</span>
                                  </li>
                              </ul>
                          </div>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About section ends-->

<!--My logos section starts-->
<section id="my-logos" fxLayout="column" fxLayoutAlign="center center" *ngIf="currentPage === 'MyLogos'">
  <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px">
    <div *ngFor="let logo of logos; let elementIndex=index">
      <img [src]="imageUrlBase + logo.url" (click)="showGallery(elementIndex)">
    </div>
  </div>
</section>
<!--My logos section ends-->

<!--Create logo section starts-->
<section id="create-logo" fxLayout="column" fxLayoutAlign="center center" *ngIf="currentPage === 'CreateLogo'">
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!currentLogos; else activeGenerateLogo">
    <button mat-raised-button color="primary" (click)="createLogo()">צור לוגו</button>
  </div>
  <ng-template #activeGenerateLogo>
    <button mat-raised-button color="primary" (click)="currentLogos = null">חזור ליצירה</button>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <div *ngFor="let logo of currentLogos">
        <app-logo-card [logo]="logo" (savedLogo)="logoSaved(logo)"></app-logo-card>
      </div>
    </div>
  </ng-template>
</section>
<!--Create logo section ends-->
