<div class="logo-card" fxLayout="column" fxLayoutAlign="space-around center">
  <img [src]="imageUrlBase + data.logo.url">
  <div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <span>צבעים:</span>
      <bar-rating [(rate)]="colorsRate" [readOnly]="data.logo.rated === true" [max]="5"></bar-rating>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <span>חדות:</span>
      <bar-rating [(rate)]="sharpnessRate" [readOnly]="data.logo.rated === true" [max]="5"></bar-rating>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <span>צורה:</span>
      <bar-rating [(rate)]="shapeRate" [readOnly]="data.logo.rated === true" [max]="5"></bar-rating>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" (click)="rateLogo()" *ngIf="!data.logo.rated">שלח דירוג</button>
    </div>
  </div>
</div>
