.admin-main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  a.logo {
    font-size: 22px;
    font-weight: 300;
    color: #fed189;
    &:hover, &:focus {
      text-decoration: none;
      outline: none;
    }
    & span {
      color: #688a7e;
    }
  }
  mat-sidenav {
    min-width: 200px;
  }
  mat-nav-list {
    mat-icon {
      padding: 0 5px;
    }
  }
}


