<header id="header" class="fixed-top">
  <div class="container d-flex justify-content-between">

    <div class="logo d-flex">
      <img src="./../../../../assets/img/logo2.png" class="animated jackInTheBox delay-1s slow" alt="">
      <h1 class="text-light animated lightSpeedIn delay-2s"><a routerLink="/">Logo Generator</a></h1>
    </div>

    <nav class="nav-menu">
      <ul>
        <li class="nav-item avatar dropdown" *ngIf="currentUser">
          <a class="nav-link gallery" [routerLink]="'gallery'">
            גלרייה
          </a>
        </li>
        <li class="nav-item avatar dropdown">
          <a class="nav-link dropdown-toggle" id="login-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img *ngIf="!currentUser || (currentUser && !currentUser.avatar)" src="../../../assets/img/defaultAvater.jpg" class="rounded-circle z-depth-0 width-50 height-50"
                 alt="avatar image">
            <img *ngIf="currentUser && currentUser.avatar && currentUser.avatar.length" [src]="currentUser.avatar" class="rounded-circle z-depth-0 width-50 height-50"
                 alt="avatar image">
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary" aria-labelledby="login-dropdown">
            {{!currentUser ? 'שלום אורח' : 'שלום ' + currentUser.firstname}}
            <a *ngIf="!currentUser"  class="dropdown-item" (click)="login()" >התחבר</a>
            <a *ngIf="!currentUser"  class="dropdown-item" (click)="register()" >הירשם</a>
            <a *ngIf="currentUser" class="dropdown-item" routerLink="/profile" >הפרופיל שלי</a>
            <a *ngIf="currentUser" class="dropdown-item" (click)="logout()">התנתק</a>
            <a *ngIf="currentUser && currentUser.isAdmin" class="dropdown-item" routerLink="/admin" >ממשק ניהול</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
