<div class="login" fxFill fxLayout="column" fxLayoutAlign="center center">
  <div class="loading-background" fxLayout="column" fxLayoutAlign="center center" fxFill *ngIf="loading">
    <mat-progress-spinner
      class="example-margin"
      [color]="color"
      [mode]="mode"
      [value]="value">
    </mat-progress-spinner>
  </div>
  <h4 class="card-title mb-2">{{ isRegister ? 'הרשמה' : 'התחברות'}}</h4>
  <form [formGroup]="form" fxLayout="column">
    <mat-form-field *ngIf="isRegister" appearance="fill">
      <mat-label>שם פרטי</mat-label>
      <input matInput formControlName="firstname">
    </mat-form-field>
    <mat-form-field *ngIf="isRegister" appearance="fill">
      <mat-label>שם משפחה</mat-label>
      <input matInput formControlName="lastname">
    </mat-form-field>
    <mat-form-field *ngIf="isRegister" appearance="fill">
      <mat-label>דוא"ל</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>טלפון</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>סיסמה</mat-label>
      <input matInput formControlName="password">
    </mat-form-field>
  </form>

  <button *ngIf="!isRegister" fxFill class="btn btn-primary" (click)="login()">התחבר</button>
  <button *ngIf="isRegister" fxFill class="btn btn-primary" (click)="register()">הירשם</button>

</div>
