<div fxLayout="row" fxLayoutAlign="center center" fxFill class="login">
  <mat-card fxFlex="35" fxFlex.xs="70">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center center" fxFill>
        <mat-icon color="primary">lock</mat-icon>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxFill>
<!--        <form class="example-form" fxFill>-->

<!--          <mat-form-field class="example-full-width" fxFill>-->
<!--            <mat-label>שם משתמש</mat-label>-->
<!--            <input #user matInput placeholder="שם משתמש">-->
<!--          </mat-form-field>-->

<!--          <mat-form-field class="example-full-width" fxFill>-->
<!--            <mat-label>סיסמה</mat-label>-->
<!--            <input #pass matInput placeholder="סיסמה">-->
<!--          </mat-form-field>-->

<!--        </form>-->
      </div>

    </mat-card-content>
    <mat-card-actions fxLayout="column" fxLayoutAlign="start center" fxFill>
      <button color="primary" mat-button fxFill >התחבר</button>
      <button color="accent" mat-button fxFill>הרשמה</button>
    </mat-card-actions>
  </mat-card>
</div>
