<div class="logo-card" fxLayout="column" fxLayoutAlign="space-around center">
  <h3>{{title}}</h3>
  <img [src]="imageUrlBase + logo.url">
  <div *ngIf="logo?.saved">
    <div fxLayout="row" fxLayoutAlign="center center">
      <span>צבעים:</span>
      <bar-rating [(rate)]="colorsRate" [readOnly]="logo.rated === true" [max]="5"></bar-rating>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <span>חדות:</span>
      <bar-rating [(rate)]="sharpnessRate" [readOnly]="logo.rated === true" [max]="5"></bar-rating>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <span>צורה:</span>
      <bar-rating [(rate)]="shapeRate" [readOnly]="logo.rated === true" [max]="5"></bar-rating>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" (click)="rateLogo()" *ngIf="logo?.rated === false">שלח דירוג</button>
    </div>
  </div>
  <div *ngIf="!logo.saved">
    <div>
      <button mat-raised-button color="primary" (click)="saveLogo()">שמור לוגו</button>
    </div>
  </div>
</div>
